@import 'src/styles/variables';

.note {
  width: $note-width;
  padding: $note-padding;
  margin: 1rem;
  background-color: $note-background-color;
  border: 1px solid $note-border-color;
  border-radius: $common-border-radius;
  color: $note-color;
  will-change: border-color;
  transition: 0.15s border-color ease-in-out;

  &.selected-note {
    border-color: $note-selected-border-color;

    .note__title {
      color: $note-active-title-color;
    }
  }

  &__title {
    cursor: pointer;
    will-change: color;
    transition: 0.15s color ease-in-out;

    @include active() {
      color: $note-active-title-color;
    }
  }

  &__content {
    white-space: pre-line;
  }

  &__no-content {
    opacity: 0.4;
  }
}
