@import 'src/styles/variables';
@import 'src/styles/animations';

.note {
  width: $note-width;
  padding: $note-padding;
  margin: $note-margin;
  background-color: $note-background-color;
  border: 1px solid $note-border-color;
  border-radius: $common-border-radius;
  color: $note-color;
  will-change: border-color;
  transition: 0.15s border-color ease-in-out;
  @include animate(fadeIn, 0.25s);

  &.selected-note {
    border-color: $note-selected-border-color;

    .note__title {
      color: $note-active-title-color;
    }
  }

  &__title {
    cursor: pointer;
    will-change: color;
    transition: 0.15s color ease-in-out;

    @include active() {
      color: $note-active-title-color;
    }
  }

  &__content {
    white-space: pre-line;
  }

  &__no-content {
    opacity: 0.4;
  }

  &__view-note {
    position: absolute;
    top: $note-max-height - $note-view-note-height;
    left: 0;
    @include size(100%, $note-view-note-height);
    @include flex-row(center, center);
    padding-bottom: 2px; // vertical alignment fix
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: $note-view-note-background-color;
    color: $note-view-note-color;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    @include active() {
      background-color: $note-view-note-active-background-color;
      color: $note-view-note-active-color;
    }
  }
}
