.dialog {
  position: absolute;
  width: $dialog-width;
  padding: $dialog-padding;
  background-color: $dialog-background-color;

  &.confirm-dialog {
    text-align: center;

    .confirm-dialog__controls {
      margin-top: 2rem;

      * + * {
        margin-left: 1rem;
      }
    }
  }
  
  &.update-note-dialog {
    min-height: $update-note-dialog-min-height;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__row {
    width: 100%;
    @include flex-column(flex-start, flex-start);
  }

  &__form-row {
    width: 100%;
    @include flex-column(flex-start, stretch);
    margin-bottom: 2.4rem;
  }

  form {
    @include flex-column(flex-start, flex-start);
  }
}
