@import '../../../../styles/variables';

.button {
  background-color: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 1.4rem;

  &.button--outlined {
    padding: 0.2rem 1.6rem;
    border: 2px solid $button-outlined-border-color;
    transition: 0.2s 0.05s ease-in-out;
    font-weight: 400;
    color: $button-outlined-color;
    background-image: $button-outlined-background;
    background-position: 100% 0;
    background-size: 100% 0;
    background-repeat: no-repeat;
    border-radius: 8px;

    @include active() {
      background-size: 100% 100%;
      color: $button-outlined-active-color;
    }
  }

  &.button--stretched {
    width: 100%;
    flex: 1;
    letter-spacing: 1px;
  }

  &.button--solid {
    padding: 0.6rem 2.4rem;
    font-weight: 500;
    transition: 0.2s ease-in-out;
  }

  &.button--main {
    background-color: $button-main-background-color;
    color: $button-main-color;
    font-weight: 700;

    &:hover {
      background-color: $button-main-hover-background-color;
    }
  }

  &.button--gray {
    background-color: $button-gray-background-color;
    color: $button-gray-color;

    &:hover {
      background-color: $button-gray-hover-background-color;
    }
  }

  &.button--icon {
    @include size(2.8rem);
    border-radius: 50%;
    background-color: $button-icon-background-color;
    color: $button-icon-color;
    transition: 0.2s ease-in-out;

    @include active() {
      background-color: $button-icon-active-background-color;
      color: $button-icon-active-color;
    }
  }
}
