@import 'src/styles/variables';

.container {
  @include size(100%);
  padding: $container-padding;
  background-color: $container-background-color;
  color: $container-color;

  &__instruction {
    width: 100%;
    text-align: center;
  }
}
