@import 'src/styles/variables';

.notes-list {
  width: calc(100% + #{$note-margin});
  @include flex-row(flex-start, flex-start);
  margin-left: -$note-margin-horizontal;
  overflow: auto;
  @include styled-scrollbar();

  .column {
    flex: 1;
  }

  .note {
    position: relative;
    max-height: $note-max-height;
    display: block;
    vertical-align: top;
    overflow: hidden;
  }
}
