@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideUpCenteredHorizontally {
  0% { transform: translate(-50%, 100%); }
  100% { transform: translate(-50%, 0); }
}

@mixin animate($animation, $duration, $delayIn: 0s, $count: 1, $directionIn: normal, $directionOut: reverse, $easing: ease-in-out) {
  animation: $duration $count $directionIn $delayIn forwards $animation $easing;

  &.change {
    animation-name: none;

    &.hide {
      animation-name: $animation;
      animation-direction: $directionOut;
    }
  }
}
