@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@import 'font-awesome';

html {
  @include flex-column(flex-start, flex-start);
  @include size(100%);
  font-size: 10px;
}

body {
  @include flex-column(flex-start, flex-start);
  @include size(inherit);
  font: 400 2rem/1.5 Lato, Roboto, Arial, sans-serif;
  color: map-get($dark-palette, 300);
}

#root {
  @include flex-column(flex-start, flex-start);
  @include size(inherit);
}
