@mixin _flex($flex-direction, $justify-content, $align-items) {
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-row($justify-content, $align-items) {
  display: flex;
  @include _flex(row, $justify-content, $align-items);
}

@mixin flex-column($justify-content, $align-items) {
  display: flex;
  @include _flex(column, $justify-content, $align-items);
}

@mixin inline-flex-row($justify-content, $align-items) {
  display: inline-flex;
  @include flex-row($justify-content, $align-items);
}

@mixin inline-flex-column($justify-content, $align-items) {
  display: inline-flex;
  @include flex-column($justify-content, $align-items);
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin size-min($width: auto, $height: auto) {
  @if $width != auto {
    min-width: $width;
  }
  @if $height != auto {
    min-height: $height;
  }
}

@mixin size-max($width, $height: $width) {
  @if $width != auto {
    max-width: $width;
  }
  @if $height != auto {
    max-height: $height;
  }
}

@mixin size-absolute($width, $height: $width) {
  @include size-min($width, $height);
  @include size($width, $height);
  @include size-max($width, $height);
}

@mixin transition($duration, $delay: 0, $element: all, $timing-function: ease-in-out) {
  transition: $duration $element $delay $timing-function;
}

@mixin active($active-class: active) {
  &:hover,
  &:focus,
  &:active,
  &.#{$active-class}) {
    @content;
  }
}
