$main-palette: (
  50: #e7f2f9,
  100: #c2e0f0,
  200: #99cbe6,
  300: #70b6db,
  400: #52a6d4,
  500: #3396cc,
  600: #2e8ec7,
  700: #2783c0,
  800: #2079b9,
  900: #1468ad,
);

$dark-palette: (
  50: #000,
  100: #0f0f0f,
  200: #141414,
  250: #191919,
  300: #1e1e1e,
  350: #222,
  400: #262626,
  500: #2f2f2f,
  600: #363636,
  700: #404040,
  800: #4f4f4f,
  900: #888,
);

$light-palette: (
  50: #f8f8f8,
  100: #f4f4f4,
  200: #fafafa,
  300: #e4e4e4,
  400: #ececec,
  500: #dfdfdf,
  600: #d7d7d7,
  700: #d0d0d0,
  800: #cecece,
  900: #c4c4c4,
);

$button-outlined-border-color: map-get($dark-palette, 800);
$button-outlined-color: map-get($dark-palette, 900);
$button-outlined-active-color: map-get($light-palette, 900);
$button-outlined-background: linear-gradient($button-outlined-border-color, $button-outlined-border-color);

$sidebar-background-color: map-get($dark-palette, 200);
$sidebar-overlay-color: rgba(map-get($dark-palette, 50), 0.6);
$sidebar-border-color: map-get($dark-palette, 800);
$sidebar-icon-color: map-get($dark-palette, 900);
$sidebar-color: map-get($light-palette, 900);
$sidebar-active-color: map-get($dark-palette, 900);

$container-background-color: map-get($dark-palette, 300);
$container-color: map-get($light-palette, 900);
$container-topbar-background-color: map-get($dark-palette, 400);
$container-topbar-border-color: map-get($dark-palette, 500);

$note-background-color: map-get($dark-palette, 350);
$note-border-color: map-get($dark-palette, 600);
$note-color: map-get($light-palette, 500);
$note-title-underline-color: map-get($dark-palette, 800);

$dialog-container-background-color: rgba(map-get($dark-palette, 50), 0.6);
$dialog-background-color: map-get($dark-palette, 250);