$main-palette: (
  50: #e7f2f9,
  100: #c2e0f0,
  200: #99cbe6,
  300: #70b6db,
  400: #52a6d4,
  500: #3396cc,
  600: #2e8ec7,
  700: #2783c0,
  800: #2079b9,
  900: #1468ad,
);

$dark-palette: (
  50: #000,
  100: #0f0f0f,
  200: #141414,
  250: #191919,
  300: #1e1e1e,
  350: #222,
  400: #262626,
  450: #2a2a2a,
  500: #2f2f2f,
  600: #363636,
  700: #404040,
  800: #4f4f4f,
  900: #555,
  950: #626262,
  1000: #888,
);

$light-palette: (
  50: #f8f8f8,
  100: #f4f4f4,
  200: #fafafa,
  300: #e4e4e4,
  400: #ececec,
  500: #dfdfdf,
  600: #d7d7d7,
  700: #d0d0d0,
  800: #cecece,
  900: #c4c4c4,
);

$error-palette: (
  50: #fae8e5,
  100: #f2c5bf,
  200: #ea9f94,
  300: #e17969,
  400: #da5c49,
  500: #d43f29,
  600: #cf3924,
  700: #c9311f,
  800: #c32919,
  900: #b91b0f,
);

$warning-palette: (
  50: #fbf5e5,
  100: #f6e5bd,
  200: #f0d491,
  300: #eac365,
  400: #e6b644,
  500: #e1a923,
  600: #dda21f,
  700: #d9981a,
  800: #d58f15,
  900: #cd7e0c,
);

$common-sidebar-thumb-color: map-get($dark-palette, 500);
$common-sidebar-background-color: map-get($dark-palette, 250);

$button-outlined-border-color: map-get($dark-palette, 800);
$button-outlined-color: map-get($dark-palette, 1000);
$button-outlined-active-color: map-get($light-palette, 900);
$button-outlined-background: linear-gradient($button-outlined-border-color, $button-outlined-border-color);
$button-main-background-color: map-get($main-palette, 500);
$button-main-hover-background-color: map-get($main-palette, 400);
$button-main-color: map-get($dark-palette, 100);
$button-gray-background-color: map-get($dark-palette, 600);
$button-gray-hover-background-color: map-get($dark-palette, 700);
$button-gray-color: map-get($light-palette, 900);
$button-icon-background-color: rgba(255, 255, 255, 0.05);
$button-icon-active-background-color: rgba(255, 255, 255, 0.125);
$button-icon-color: map-get($light-palette, 500);
$button-icon-active-color: map-get($main-palette, 300);

$sidebar-background-color: map-get($dark-palette, 200);
$sidebar-overlay-color: rgba(map-get($dark-palette, 50), 0.6);
$sidebar-border-color: map-get($dark-palette, 800);
$sidebar-icon-color: map-get($dark-palette, 1000);
$sidebar-active-icon-color: map-get($light-palette, 900);
$sidebar-active-item-background-color: rgba(255, 255, 255, 0.03);
$sidebar-color: map-get($light-palette, 900);
$sidebar-active-color: map-get($dark-palette, 1000);
$category-edit-active-color: map-get($main-palette, 400);
$category-delete-active-color: map-get($error-palette, 400);

$container-background-color: map-get($dark-palette, 300);
$container-color: map-get($light-palette, 900);
$container-topbar-background-color: map-get($dark-palette, 400);
$container-topbar-border-color: map-get($dark-palette, 500);

$note-background-color: map-get($dark-palette, 350);
$note-border-color: map-get($dark-palette, 600);
$note-selected-border-color: map-get($main-palette, 300);
$note-color: map-get($light-palette, 500);
$note-title-underline-color: map-get($dark-palette, 800);
$note-active-title-color: map-get($main-palette, 300);

$dialog-container-background-color: rgba(map-get($dark-palette, 50), 0.6);
$dialog-background-color: map-get($dark-palette, 250);

$input-background-color: map-get($dark-palette, 350);
$input-border-color: map-get($dark-palette, 500);
$input-color: map-get($light-palette, 500);
$input-checkbox-checked-color: map-get($dark-palette, 1000);
$input-checkbox-unchecked-color: $input-background-color;

$snackbar-background-color: map-get($dark-palette, 400);
$snackbar-border-color: map-get($dark-palette, 600);
$snackbar-color: map-get($light-palette, 400);
$snackbar-error-color: map-get($error-palette, 500);
$snackbar-warning-color: map-get($warning-palette, 500);
$snackbar-confirmation-color: map-get($main-palette, 400);
$snackbar-close-background-color: map-get($dark-palette, 800);
$snackbar-close-background-hover-color: map-get($dark-palette, 950);
$snackbar-close-color: map-get($dark-palette, 50);

$single-note-toolbar-border-color: map-get($dark-palette, 500);
$note-categories-list-background-color: map-get($dark-palette, 300);
$note-categories-list-border-color: map-get($dark-palette, 500);

