@import 'mixins';
@import 'theme';

$sidebar-width: 6rem;
$sidebar-active-width: 28rem;
$sidebar-icon-size: 3rem;
$sidebar-item-font-size: 1.8rem;

$sidebar-horizontal-padding: ($sidebar-width - $sidebar-icon-size) / 2;
$sidebar-top-padding: 2rem;
$sidebar-bottom-padding: 4rem;
$sidebar-padding: $sidebar-top-padding $sidebar-horizontal-padding $sidebar-bottom-padding;


$note-width: 32rem;
$note-vertical-padding: 1.2rem;
$note-horizontal-padding: 2.4rem;
$note-padding: $note-vertical-padding $note-horizontal-padding;
$note-title-underline: 2px solid $note-title-underline-color;


$container-padding: 4rem 4rem 4rem 10rem;
