@import 'mixins';
@import 'theme';

$tick-mark: '\2713';


$common-border-radius: 4px;


$global-font-size: 1.8rem;
$global-line-height: 1.5;

$h1-font-size: $global-font-size + 1.2rem;
$h2-font-size: $global-font-size + 0.8rem;
$h3-font-size: $global-font-size + 0.4rem;
$h4-font-size: $global-font-size + 0.2rem;
$h5-font-size: $global-font-size;
$h6-font-size: $global-font-size - 0.2rem;


$sidebar-width: 6rem;
$sidebar-active-width: 28rem;
$sidebar-icon-size: 2.4rem;
$sidebar-item-font-size: 1.8rem;
$sidebar-edit-margin-left: 2rem;

$category-horizontal-padding: ($sidebar-width - $sidebar-icon-size) / 2;
$category-vertical-padding: 0.4rem;
$category-padding: $category-vertical-padding $category-horizontal-padding;
$category-active-padding: $category-vertical-padding $category-horizontal-padding * 3/2;

$sidebar-top-padding: 2rem;
$sidebar-bottom-padding: 2rem;
$sidebar-padding: $sidebar-top-padding 0 $sidebar-bottom-padding;


$note-width: 28rem;
$note-max-height: 32.4rem;
$note-view-note-height: 1.8rem;
$note-vertical-padding: 1rem;
$note-horizontal-padding: 1.6rem;
$note-padding: $note-vertical-padding $note-horizontal-padding $note-vertical-padding * 2;
$note-margin-vertical: 1rem;
$note-margin-horizontal: 0.5rem;
$note-margin: $note-margin-vertical $note-margin-horizontal;

$note-title-underline: 2px solid $note-title-underline-color;


$container-padding: 2rem 2rem 2rem 2rem + $sidebar-width;


$single-note-width: 50%;
$single-note-min-width: 40rem;
$single-note-max-width: 60rem;
$single-note-max-height: 80%;
$single-note-vertical-padding: 4rem;
$single-note-horizontal-padding: 3.2rem;
$single-note-padding: $single-note-vertical-padding / 2 $single-note-horizontal-padding $single-note-vertical-padding;
$single-note-scrollbar-width: 1rem;


$dialog-width: 50rem;
$update-note-dialog-min-height: 40rem;
$dialog-padding: 6rem 4rem;


$snackbar-padding: 1.6rem 6rem 1rem;
