@import 'src/styles/variables';

.single-note {
  min-width: $single-note-min-width;
  @include size-max($single-note-max-width, $single-note-max-height);
  width: $single-note-width;
  @include flex-column(flex-start, stretch);
  padding: $single-note-padding;
  overflow: hidden;

  &__toolbar {
    @include flex-row(space-between, center);
    border-bottom: 1px solid $single-note-toolbar-border-color;
    padding-bottom: 1rem;
    margin-bottom: 1.6rem;
  }

  &__options {
    @include flex-row(flex-start, center);

    > li:not(:first-child) {
      margin-left: 0.8rem;
    }
  }

  &__contents {
    flex: 1;
    overflow: hidden auto;
    width: calc(100% + #{$single-note-scrollbar-width});
    padding-right: $single-note-scrollbar-width;

    @include styled-scrollbar($common-sidebar-thumb-color, $common-sidebar-background-color);
  }

  .note-categories {
    position: relative;

    &__list {
      position: absolute;
      z-index: 1;
      top: calc(100% + 0.5rem);
      right: 0;
      max-width: 21rem;
      max-height: 32rem;
      overflow: hidden auto;
      padding: 1rem 3rem 1rem 1rem;
      background-color: $note-categories-list-background-color;
      border: 1px solid $note-categories-list-border-color;
      border-radius: $common-border-radius;

      .category-checkboxes__name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
