@import 'src/styles/variables';

.add-note-dialog {
  &__categories-group {
    max-height: 22rem;
    display:grid;
    grid: auto / repeat(3, 1fr);
    grid-gap: 1.2rem 0;
    overflow: hidden auto;
    @include styled-scrollbar();
  }
}
