@import 'src/styles/variables';

.sidebar {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  @include size($sidebar-width, 100%);
  @include flex-column(flex-start, flex-start);
  padding: $sidebar-padding;
  transition: 0.5s 0.05s ease-in-out;
  overflow: hidden;
  background-color: $sidebar-background-color;

  &.deactivate {
    transition: 0.2s ease-in-out; // temporarily quicken the transition
    pointer-events: none;
  }

  @include active() { // active sidebar
    width: $sidebar-active-width;
    padding-left: $sidebar-horizontal-padding * 2;
    padding-right: $sidebar-horizontal-padding * 2;
    cursor: pointer;

    .categories-list,
    .add-category {
      &__icon {
        margin-right: $sidebar-horizontal-padding / 2;
      }
    }

    + .sidebar-overlay {
      pointer-events: all;
      opacity: 1;
      cursor: pointer;
    }
  }

  &-overlay {
    position: absolute;
    z-index: 1;
    @include size(100%);
    background-color: $sidebar-overlay-color;
    transition: 0.5s 0.05s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }

  .categories-list,
  .add-category {
    color: $sidebar-color;

    &__icon {
      @include size($sidebar-icon-size);
      margin-right: $sidebar-horizontal-padding;
      color: $sidebar-icon-color;
      font-size: $sidebar-icon-size;
      transition: 0.2s ease-in-out;
    }
  }

  .add-category,
  .categories-list__item {
    width: 100%;
    @include flex-row(flex-start, center);
    white-space: nowrap;
    font-size: $sidebar-item-font-size;
    cursor: pointer;

    &__name {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @include active() { // active sidebar item
      color: $sidebar-active-color;

      .add-category,
      .categories-list {
        &__icon {
          margin-right: $sidebar-horizontal-padding;
        }

        &__name {
          text-decoration: underline;
        }
      }
    }
  }

  .categories-list {
    &__item {
      margin-bottom: 1rem;
    }
  }

  .add-category {
    margin-bottom: 3rem;
    color: $sidebar-color;
  }
}
