@import 'src/styles/variables';

.sidebar {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  @include size($sidebar-width, 100%);
  @include flex-column(flex-start, stretch);
  padding: $sidebar-padding;
  transition: 0.5s 0.05s ease-in-out;
  will-change: width;
  overflow: hidden;
  background-color: $sidebar-background-color;

  &__categories-list {
    overflow: hidden;
    will-change: overflow;
    @include styled-scrollbar();
  }

  @include active(sidebar--opened) { // active sidebar
    width: $sidebar-active-width;
    cursor: pointer;

    .sidebar__categories-list {
      overflow: hidden auto;
    }

    .category,
    .add-category {
      padding: $category-active-padding;

      &__icon {
        margin-right: $category-horizontal-padding / 2;
      }
    }

    + .sidebar-overlay {
      pointer-events: all;
      opacity: 1;
      cursor: pointer;
    }
  }

  &-overlay {
    position: absolute;
    z-index: 1;
    @include size(100%);
    background-color: $sidebar-overlay-color;
    transition: 0.5s 0.05s ease-in-out;
    will-change: opacity;
    opacity: 0;
    pointer-events: none;
  }

  .category,
  .add-category {
    color: $sidebar-color;
    will-change: padding;
    transition: 0.4s 0.05s ease-in-out;

    &__icon {
      @include size-absolute($sidebar-icon-size);
      margin-right: $category-horizontal-padding;
      color: $sidebar-icon-color;
      font-size: $sidebar-icon-size;
      transition: 0.4s 0.05s margin ease-in-out, 0.3s color ease-in-out;
    }
  }

  .add-category,
  .category {
    @include flex-row(flex-start, center);
    padding: $category-padding;
    white-space: nowrap;
    font-size: $sidebar-item-font-size;
    cursor: pointer;

    &__name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    @include active() { // active sidebar item
      .add-category,
      .category {
        &__icon {
          margin-right: $category-horizontal-padding;
        }
      }

      .category {
        &__name {
          color: $sidebar-active-color;
        }
      }

      .add-category {
        &__icon,
        &__name {
          color: $sidebar-add-category-active-color;
        }
      }
    }
  }

  .category {
    margin-bottom: 1rem - 2 * $category-vertical-padding;

    &--active {
      background-color: $sidebar-active-item-background-color;

      .category__icon { // font-awesome icon fix
        transform: translate(2px, 0);
        color: $sidebar-active-icon-color;
      }
    }

    &__name {
      flex: 1;
      min-width: 10rem; // used to avoid icons showing first on sidebar expand animation
      padding-right: 0.8rem;
    }

    &__name-input {
      margin-left: -1rem;
      width: 100%;
    }

    &__control {
      color: $sidebar-color;

      + .category__control {
        margin-left: $sidebar-edit-margin-left / 4;
      }
    }

    &__edit {
      @include active() {
        color: $category-edit-active-color;
      }
    }

    &__delete {
      @include active() {
        color: $category-delete-active-color;
      }
    }
  }

  .add-category {
    margin-bottom: 3rem;
    color: $sidebar-color;
  }
}
