@import 'src/styles/variables';

.snackbar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: $snackbar-padding;
  background-color: $snackbar-background-color;
  border: 1px solid $snackbar-border-color;
  border-bottom: 0;
  color: $snackbar-color;

  &--warning {
    color: $snackbar-warning-color;
  }

  &--error {
    color: $snackbar-error-color;
  }
}
