@import 'src/styles/variables';
@import 'src/styles/animations';

@keyframes showSnackbar {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.snackbar {
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: (2/3) * 100%;
  padding: $snackbar-padding;
  background-color: $snackbar-background-color;
  border: 1px solid $snackbar-border-color;
  border-bottom: 0;
  color: $snackbar-color;
  text-align: center;
  @include animate(slideUpCenteredHorizontally, 0.25s);

  &--warning {
    color: $snackbar-warning-color;
  }

  &--error {
    color: $snackbar-error-color;
  }

  &[class*='confirmation'] {
    color: $snackbar-confirmation-color;
  }

  &__control {
    margin-left: 0.4rem;
  }

  &__close {
    $close-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    @include flex-row(center, center);
    @include size($close-size);
    background-color: $snackbar-close-background-color;
    border-radius: 50%;
    cursor: pointer;

    @include active() {
      background-color: $snackbar-close-background-hover-color;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      @include size(1px, $close-size - 0.6rem);
      background-color: $snackbar-close-color;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
